#dynaKitten {
  margin-top: 30px;
}

#chatWindow {
  position: relative;
  /* bottom: 0px; */
  border: 1px solid black;
  overflow: auto;
  height: 690px;
  width: 300px; 
  top: 0;
  left: 0;
  /* max-height: 100%; */
  background-color: white;
  margin-top: 10px;
}

ul { 
  list-style-type: none;
} 

#chatForm {
  position: absolute; 
  /* bottom: 0;  */
  width: 100%;
}

input {
  width: 300px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
}

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid rgb(51, 51, 51); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* .lobbybutton {
  text-align: center;
}

.profilepicture {
  position: fixed;
  top:50%;
  bottom: 50%;
  margin-top: -50px;
  margin-left: -100px;
} */

.profile {

  text-align: center;
}
.profilepicture {
text-align: center;
}

.profiledata {
  text-align: center;
}

.friendfont{
  font-size: 22px;
}

.friends {
  text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  /* background-color: rgb(51,51,51) */
  background-image: url('assets/catExplosionBg.png');
  background-size: cover;
}

h1 {
  font-size: 70px;
  color: #f4f4f4;
}

h2 {
  font-size: 55px;
  color: #f4f4f4;
}

h3 {
  font-size: 40px;
  color: #f4f4f4;
}

h4 {
  font-size: 20px;
  color: #f4f4f4;
}

p {
  color: #f4f4f4;
  font-size: 20px;
}

li {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
}

#loadingScreenGif {
  margin-top: 40px;
}

.loadedOpp {
  margin-top: 10px;
}

#lobbyTitle {
  font-size: 80px;
  margin-top: 150px;
}

.card {
  height: 210px;
  width: 140px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
}

.card-image {
  max-height: 90px;
}

.card-title {
  margin-bottom: 10px;
}

.card-description {
  margin-top: 10px;
}

.card-back {
  height: 100px;
  box-shadow: 10px 10px 5px #444444;
  float: left;
}

.oppName {
  margin-top: -10px;
}

.oppActive {
  color: yellow;
}

.playerActive {
  box-shadow: 0 0 10px 5px #f9f8bb;
}

.deck {
  margin-top: 30px;
  height: 300px;
}

.discard-pile {
  margin-top: 30px;
  height: 300px;
  width: 200px;
  font-size: 20px;
}

.discard-image {
  max-height: 150px;
}

.deck-wrapper {
  position: relative;
}

#deckCount {
  z-index: 9999;
  position: absolute;
  top: 140px;
  left: 110px;
  color: #f4f4f4;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#calculation {
  margin-top: 80px;
  margin-left: 40px;
}

#winner {
  color: yellow;
  margin-top: 100px;
  margin-left: 40px;
}

/* .gameTable {
  border: 2px solid #f4f4f4;
  background-color: rgb(51, 51, 51);
} */

/*
  ====================================
  Links
  ====================================
*/

.lobbybutton {
  opacity: 65%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.login {
  cursor: pointer;
}
.login:hover {
  text-decoration: underline;
  text-decoration-color: #337ab7;
}

#friends {
  color: white;
  max-width: 300px;
  margin: auto;
}

#friend-items {
  text-align: left;
}

#friend-pic {
  border-radius: 50%;
}