#dynaKitten {
  margin-top: 30px;
  margin-right: 40px;
}

#chatWindow {
  position: relative;
  /* bottom: 0px; */
  border: 1px solid black;
  overflow: auto;
  height: 600px;
  width: 300px; 
  top: 0;
  left: 0;
  /* max-height: 100%; */
  background-color: white;
}

ul { 
  list-style-type: none;
} 

#chatForm {
  position: absolute; 
  /* bottom: 0;  */
  width: 100%;
}

input {
  width: 300px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
}

.loader {
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  background-color: rgb(51,51,51)
}

h1 {
  font-size: 70px;
  color: #f4f4f4;
}

h2 {
  font-size: 55px;
  color: #f4f4f4;
}

h3 {
  font-size: 40px;
  color: #f4f4f4;
}

p {
  color: #f4f4f4;
  font-size: 20px;
}

li {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0;
}

#loadingScreenGif {
  margin-top: 40px;
}

.loadedOpp {
  margin-top: 10px;
}